body {
    font-family: sans-serif;
}

.quadrato {
    background-color: orange;
    border: 3px solid red;
    box-sizing: border-box;
    margin: 5px;
    padding: 10px;
    width: 150px;
    height: 100px;
}