/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Stili generali del corpo pagina */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.99)), url("./IMG/background.jpg");
    background-size: cover;
    color: #1c71c5;
    padding: 20px 10px 40px;
    align-content: center;
}

h1 {
    background-color: white;
    color: rgb(12, 12, 134);
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 5px;
    border-bottom: red solid 2px;
}

/* Carta giocatore */
.player-card {
    color: white;
    background-color: rgba(5, 8, 168, 0.479);
    border: 2px solid red;
    border-radius: 14px;
    width: 600px;
    padding: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
    margin-top: 20px;
    margin-bottom: 20px;
}

.player-name {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    border: 1px solid red;
}

.player-stats {

    color: black;
    background-image: url("./IMG/basketball.avif");
    border: 3px dotted orangered;
    border-radius: 9px;
    width: 400px;
    padding: 5px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;

}

.profilepic {
    alt: "foto profilo";
    width: 100px;
    border-color: rgb(255, 217, 0);
    border-width: 1px;
    border-style: dashed;
}

footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: red;
    text-align: center;
    margin-top: 40px;
    font-size: 22px;
    color: white;
}